@import "tailwindcss";

@theme {
  --font-family-manrope: "Manrope", sans-serif;
  --font-family-playfair-display: "Playfair Display", serif;
}

body {
  font-family: var(--font-family-montserrat);
  background-color: #f9f9f9;
}
