---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import { BinaYonetimiWithData } from "../components/WebsiteTabFetcher.jsx";
import BuildingManagementServicesSection from "../components/sections/BuildingManagementServicesSection.astro";
import ReferencesSection from "../components/sections/ReferencesSection.astro";

const baseUrl = (import.meta.env.BASE_URL || "/").replace(/\/?$/, "/");
---

<MainLayout>
  <div class="w-full min-h-screen bg-white dark:bg-gray-900 transition-colors duration-200">
    <BinaYonetimiWithData client:load baseUrl={baseUrl} />
    <BuildingManagementServicesSection />
    <ReferencesSection />
  </div>
  <Footer />
</MainLayout>
